
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome Free
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

@import '~highlight.js/styles/default.css';

body, html {
  height: 100%;
}
.wrapper {
  position: relative;
}
.wrapper, body, html {
  min-height: 100%;

}

.footer {
  & > p {
    margin: 0 auto;
  }
  height: 50px;
}

